---
version: '3'
services:
  ansible-inventory-server:
    build:
      context: .
    container_name: ansible_inventory_server
    tty: true
    ports:
      - "5000:5000"
    restart: always
    command: 'ansible-inventory-server'
