apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-server
  labels:
    app: inventory-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-server
  template:
    metadata:
      labels:
        app: inventory-server
    spec:
      containers:
      - name: inventory-server
        image: {{ .Values.image | quote }}
        command: ["ansible-inventory-server"]
        ports:
        - containerPort: 5000
