apiVersion: v1
kind: Service
metadata:
  name: inventory-server
spec:
  selector:
    app: inventory-server
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: {{ .Values.nodePort }}
  type: NodePort
